<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={{or .Params.description .Site.Params.description}}>
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://vtaceo.github.io/Blog/styles/style.css">
</head>
<body>
    <div class="container">
        {{ partial "navbar" . }}
        {{ block "main" . }} {{ end }}
        {{ partial "footer" . }}
    </div>

    <script src="https://vtaceo.github.io/Blog/static/js/app.js"></script>
</body>
</html>